.nav-container {
    background-color: #34bbff;
    padding: 5px 40px;
    border-bottom: 6px solid #000000;
    justify-content: space-around;
    display: flex;
    
   
}

.center-box {
  background-color: rgba(0, 0, 0, 0.623); 
  color: rgb(53, 54, 172);
  margin: 10px;
  padding: 40px; 
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  

}
  

