    /* colores plantilla*/
:root {
    --color-fondo-principal: #646363; 
    --color-barra-fondo: #000000; 
    --color-texto-oscuro: #000000;
    --color-texto-claro: #ffffff;
    --color-borde-imagen: #a8a6a6;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
} /*everything lal*/
body {
    background-color: var(--color-fondo-principal);
    color: #a00808; 
    display: flex; 
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
    padding: 20px;
} /* imagen de perfil */
.perfil-container {
    display: flex;
    width: 1900px; 
    min-height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white; 
}
.barra-izquierda /* barra izquierda*/ {
    width: 220px; 
    background-color: var(--color-barra-fondo); 
    color: var(--color-texto-claro); 
    padding: 20px;
    flex-shrink: 0; 
}

 /* derecha testo principal*/
.contenido-principal {
    flex-grow: 12;
    padding: 30px;
}

p { /* texto de comosoy*/
    font-size: 18px;
    line-height: 1.6;
}
/*imagen*/
.imagen-circular {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    display: block;
    margin:  15px auto; 
    object-fit: cover; 
    border: var(--color-borde-imagen) 6px solid; 
    box-shadow: 0 0 0 3px var(--color-barra-fondo); 
}
/* mi nombre */
.barra-izquierda h2 {
    color: var(--color-texto-claro);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center; 
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 10px;
}

/* contactos*/
.barra-izquierda p {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--color-texto-claro);
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: normal;
}

/* puntos de la barra izq*/
.barra-izquierda ul {
    list-style: disc; 
    padding-left: 20px;
    margin-top: 5px;
}
/* texto de la barra */
.barra-izquierda ul li {
    margin-bottom: 5px;
    font-size: 16px;
}
.Quehace {
    font-size: 44px;
    font-weight: bold;
    color: var(--color-texto-oscuro);
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 3px solid var(--color-texto-oscuro);
    padding-bottom: 5px;
}
.contenido-texto {
    text-align: left;
    color: var(--color-barra-fondo);
}
.h3 {
    font-size: 4px;
    font-weight: bold;
    color: var(--color-texto-oscuro);
    margin-top: 15px;
    margin-bottom: 5px;
}
/* grid del texto para poder cambiar su posicion */
.intereses-grid {
    display: grid;
    grid-template-columns: auto 180px; 
    gap: 20px; 
    align-items: start; 
}
/* grid del gif para poder cambiar su posicion */
.gif-grid {
    grid-column: 2 / 3; 
    justify-self: end;  
    width: 190px;
    height: auto;
    margin-top: 10px;
}
/* columna del testo intereses*/
.lista-intereses {
    grid-column: 1 /2 ;
}