
:root {
    --color-fondo-principal: #e64e4e57; 
    --color-barra-fondo: #581d1d; 
    --color-texto-oscuro: #000000;
    --color-texto-claro: #ffffff;
    --color-borde-imagen: #ff0000;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background-color: var(--color-fondo-principal);
    color: #333; 
    display: flex; 
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
    padding: 20px;
}
/*literal todo xd */
.perfil-container {
    display: flex;
    width: 1900px; 
    min-height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white; 

}
/*barra de la izquierda*/
.barra-izquierda {
    width: 220px; 
    background-color: var(--color-barra-fondo); 
    color: var(--color-texto-claro); 
    padding: 20px;
    flex-shrink: 0; 
}


.contenido-principal {
    flex-grow: 1;
    padding: 30px;
}


h1 {

    text-align: center;
    border-bottom: 2px solid var(--color-texto-oscuro);
    margin-top: 0;
    padding-bottom: 10px;
}
h2 {
    color: var(--color-texto-oscuro);
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-texto-oscuro);
    text-align: center;
}
p {
    font-size: 18px;
    line-height: 1.6;
}
/*foto perfil*/
.imagen-circular {
    width: 150px; 
    height: 150px;
    border-radius: 50%;

    display: block;
    margin: 0 auto 15px auto; 
    object-fit: cover; 
    
    border: var(--color-borde-imagen) 6px solid; 
    box-shadow: 0 0 0 3px var(--color-barra-fondo); 
}

.barra-izquierda h2 {
    color: var(--color-texto-claro);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center; 
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 10px;
}


.barra-izquierda p {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--color-texto-claro);
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: normal;
}


.barra-izquierda ul {
    list-style: disc; 
    padding-left: 20px;
    margin-top: 5px;
}

.barra-izquierda ul li {
    margin-bottom: 5px;
    font-size: 16px;
}

.Quehace {
    font-size: 44px;
    font-weight: bold;
    color: var(--color-texto-oscuro);
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 3px solid var(--color-texto-oscuro);
    padding-bottom: 5px;
}

.contenido-texto {
    text-align: left;
}
.h3 {
    font-size: 4px;
    font-weight: bold;
    color: var(--color-texto-oscuro);
    margin-top: 15px;
    margin-bottom: 5px;
}